# Virtual environment
.venv/

# Env variables
.env

# Python cache
__pycache__/

# Orchestrator utils package directory
fp-orchestrator-utils/
fp_orchestrator_utils/

# Github files
.github/

# HAR model files
har_model.onnx